# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Processed outputs
processed_data/

# Python logs
*.log

# Ignore sample or test files in resources
resources/sample.pdf
resources/sample_image.png
